<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CarConfiguration</display-name>
  <servlet>
    <servlet-name>carList</servlet-name>
    <servlet-class>servlet.carList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carList</servlet-name>
    <url-pattern>/carList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chooseOption</servlet-name>
    <servlet-class>servlet.chooseOption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseOption</servlet-name>
    <url-pattern>/chooseOption/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>totalCost</servlet-name>
    <servlet-class>/totalCost.jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>totalCost</servlet-name>
    <url-pattern>/totalCost/</url-pattern>
  </servlet-mapping>
</web-app>